*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.formbucket {
    display: grid;
    width: 95vw;
    margin:  2rem auto;
    padding: 1rem;
    border: thin;
    border-radius: 1rem;
    box-shadow: 1px 3px 3px rgb(10, 10, 10);
}

header {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1px;
    padding: 5px;
    box-shadow: 0px 3px 3px #111111;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    text-indent: 1rem;
}
.banner strong img {
    transform: rotate(180deg);
    cursor: pointer;
}

.balance-section {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    font-size: 14px;
    margin-right: 1rem;
}
.balance-section >h2{
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 300; 
}
.balance-section >h2:hover,.balance-section >h2:focus {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.3s ease;
}
.balance-section > img {
    width: 21px;
    background-color: #e0dede;
    border-radius: 50px;
}
.balance-section > img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;

}

.formbucket {
    background-color: #464646;
    background-image: url('/public/icons/addtabbi_bgimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
#post-title{
    width: 50%;
    height: 50px;
    margin: 1rem auto;
    text-indent: 1rem;
    border: thin;
    border-radius: 1rem;
    box-shadow: 0px 3px 3px;
    background-color: #ffffffa1;

}
#post-cost {
    width: 20%;
    height: 50px;
    margin: 1rem auto;
    text-indent: 1rem;
    border: thin;
    border-radius: 1rem;
    box-shadow: 0px 3px 3px;
}
#post-title {
    height: 250px;
    padding: 1rem;
}

#post-file {
    display: none;
}

.buttons {
    display: inline-block;
    margin: 1rem auto;
}

.file-label {
    background-color: #727477;
    padding: 1rem;
    margin-right: 10px;
    border: thin;
    border-radius: 1rem;
    box-shadow: 1px 3px 3px #111;
    color: white;
    font-size: 1.2rem;
}

#post{
    background-color: #2f89ff;
    width: 100px;
    padding: 1rem;
    margin-left: 10px;
    border: thin;
    border-radius: 1rem;
    box-shadow: 1px 3px 3px #111;
    color: white;
    font-size: 1.2rem;
}
#post:hover {
    background-color: #1379ff;
}
@media screen and (max-width:500px) {
    .banner strong {
        font-size: 1rem;
        font-weight: 300; 
    }
    .balance-section {
        display: none;
    }
    #post-title{
        width: 70%;
        height: 70%;
        margin: 1rem auto;
        text-indent: 1rem;
        border: thin;
        border-radius: 0.5rem;
        box-shadow: 1px 3px 3px;
        font-size: 1rem;
    }
    #post-cost {
        width: 50%;
        height: 50px;
        margin: 1rem auto;
        text-indent: 1rem;
        border: thin;
        border-radius: 0.5rem;
        box-shadow: 1px 3px 3px;
        font-size: 1rem;
    }
    #post-title {
        height: 250px;
        padding: 10px 0;
    }
}