*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;
}

.container {
    padding: 10px;
    display: grid;
    grid-auto-flow: row;
    row-gap: 5rem;
}

.profile-container {
    margin-top: 2.5rem;
    padding: 10px;
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px #111;
    border-radius: 6px;
}

.activity-container {
    min-height: max-content;
    display: flex;
    flex-flow: column wrap;
    row-gap: 3rem;
}

.navbar {
    height: 4rem;
    display: grid;
    grid-auto-flow: column;
    box-shadow: 0px 3px 3px #111;
    border-radius: 3px;
}

.navbar>li {
    list-style: none;
    margin: auto 10px;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}
#wallet {
    border-right: 1px solid;
}
.navbar>li.active-nav {
    font-weight: 600;
    transform: scale(1.1);
    color: rgb(21, 177, 0);
}

.activity-section {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    row-gap: 1rem;
}

.wallet-tab {
    display: grid;
    row-gap: 1rem;
    padding: 10px;
    height: 250px;
    box-shadow: 0px 3px 3px #111;
    border-radius: 1rem;
}

.balance-bar>h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 3px 3px #ccc;
}

.action-btns {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: center;
}

.action-btns >button {
    height: 60px;
    margin: 0 10px;
    font-size: 1.5rem;
    border: thin;
    border-radius: 6px;
    box-shadow: 0px 3px 3px #111;
    cursor: pointer;

}
#deposit {
    background-color: #0051ff;
    color: aliceblue;
    font-weight: 600;
}
#deposit:hover {
    background-color: #002c8a;
}
#withdraw {
    background-color: #249c00;
    color: aliceblue;
    font-weight: 600;
}
#withdraw:hover {
    background-color: #124e00;
}

.activity-tab {
    display: grid;
    gap: 10px;
    padding: 5px;
    cursor: pointer;
}

.activity-details {
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0px 3px 3px #111;
}

.activity-details:nth-child(odd) {
    background-color: #008cff;
}
.activity-details:nth-child(even) {
    background-color: #7fffd4;
}

.activity-description {
    font-size: 20px;
}

.hide-section {
    display: none;
}