:root {
    --box-shadow: -1px 3px 3px #111111;
    --card-background: #0096aa;
    --background-color: #e7e7e7;
    --card-padding: 0.7rem 1.2rem;
    --card-margin: 0.5rem 0.8rem;
    --box-padding: 1rem 1.5rem;
    --box-margin: 1rem 0.5rem;
    --button-border: thin;
    --card-border: 1px solid #e0dede;
    --boder-radius: 10px;
}

::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}

header a{
    text-decoration: none;
    color: inherit;
}
header li {
    list-style: none;
}

header {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1px;
    padding: 5px;
    box-shadow: 0px 3px 3px #111111;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* border-radius: var(--boder-radius); */
    /* box-shadow: var(--box-shadow); */
}
.banner strong {
    font-size: 2rem;
    font-weight: 300; 
    cursor: pointer;
}

.balance-section {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    font-size: 14px;
    margin-right: 1rem;
}
.balance-section >a>h2{
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 300; 
}
.balance-section >a>h2:hover,.balance-section >a>h2:focus {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.3s ease;
}
.balance-section > img {
    width: 21px;
    background-color: #e0dede;
    border-radius: 50px;
}
.balance-section > img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.navigation {
    min-width: 60vw;
    margin: 0 auto;
    padding: 5px;
}

.navigation > nav {
    display: flex;
    justify-content: space-between;
}
nav li {
   margin-right: 3px;
   padding: 5px;

}

nav li a.active {
    padding: 5px;
    font-size: 2ch;
    transform: scale(1.1);
    box-shadow: var(--box-shadow);
    border-radius: var(--boder-radius);
    transition: all 0.3s ease;
}

main {
    height: 100vh;
}

.container {
    display: grid;
    grid-auto-flow: column;
    height: 100vh;
}

.addtaskbtn {
    text-decoration: none;
    background-color: rgb(0, 112, 218);
    width: 60px;
    height: 60px;
    position: fixed;
    top: 550px;
    right: 25px;
    margin:0 auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px #111;
}
.addtaskbtn > h2 {
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 2.5rem;
    color: aliceblue;
    text-shadow: 0px 3px 3px #111;
}

.feed {
    border-right: none;
    width: 90vw;
    padding: 1rem 10px;
    display: grid;
    overflow-y: unset;
    margin: auto;
}

.card {
    text-decoration: none;
    background-color: #02869742;
    border: none;
    border-radius: 1rem;
    min-height: 220px;
    color: #0f0f0f;
    padding: 10px;
    width: 100%;
    margin: 5px auto;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 10% 70% 20%;
    row-gap: 10px;
    text-indent: 10px;
    box-shadow: 0px 3px 3px #111;
}
.card:hover {
    transform: scale(1.01);
    border-radius: 1rem;
    margin: 5px auto;
}
small {
    display: none;
}